<br>
<br>
<div class="container ">

  <h1>Login Form</h1>
  <form>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-user fa-lg"></i></span>
      </div>
      <input type="text" class="form-control" id="username" [(ngModel)]="model.username" required
        [ngModelOptions]="{standalone: true}" placeholder="username">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"> <i class="fa fa-lock fa-lg"></i> </span>
      </div>
      <input type="password" class="form-control" id="password" [(ngModel)]="model.password" required
        [ngModelOptions]="{standalone: true}" placeholder="**********">
    </div>
    <button type="button" class="btn btn-success mr-3 btn-lg" (click)="onSubmit()"><i class="fas fa-user"></i> Log In</button>

    <button type="button" class="btn btn-primary btn-lg" (click)="onRegisterClicked()"><i class="fas fa-user-plus"></i> Registration</button>
  </form>

</div>
<div class="card-block">
  <button (click)="signInWithGoogle()"><i class="fab fa-google"></i></button>
</div>
