<br>
<br>
<div class="container ">
  <h1>Login Form</h1>
  <form>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Username</span>
      </div>
      <input type="text" class="form-control" id="username" [(ngModel)]="model.username" required
        [ngModelOptions]="{standalone: true}">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Password</span>
      </div>
      <input type="password" class="form-control" id="password" [(ngModel)]="model.password" required
        [ngModelOptions]="{standalone: true}">
    </div>
    <button type="button" class="btn btn-success mr-3" (click)="onSubmit()"><i class="fas fa-user"></i> Log In</button>

    <button type="button" class="btn btn-primary" (click)="onRegisterClicked()"><i class="fas fa-user-plus"></i> Registration</button>
    <br><br>
    <div class="alert alert-danger" role="alert" *ngIf="isValidLogin == false">
      Invalid username or password!
    </div>
  </form>
</div>