<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block text-light">
                    404
                </span>
                <div class="mb-4 lead text-light">
                    The page you are looking for was not found.
                </div>
                <button (click)="backToHome()" class="btn btn-info">Back to Home</button>
            </div>
        </div>
    </div>
</div>