<form class="container">
  <h1 class="text-center">Search by Location</h1>
  <div class="form-row align-items-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Location</span>
      </div>
      <input type="text" class="form-control" id="location" [(ngModel)]="location" required
        [ngModelOptions]="{standalone: true}"><br>
    </div>
    <div class="col text-center">
      <button (click)="onUseSetLocationClicked()" class="btn btn-primary btn-lg">Search</button>
    </div>
  </div>
</form>
<ul>
  <li *ngFor="let restaurant of restaurantModel">
    <button class="btn btn-primary" routerLink="/restaurant/{{ restaurant.id }}">{{ restaurant.name }}</button>
  </li>
</ul>