<form class="container">
  <h1 class="text-center">Search by Location</h1>
  <div class="form-row align-items-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Location</span>
      </div>
      <input type="text" class="form-control" id="location" [(ngModel)]="location" required
        [ngModelOptions]="{standalone: true}"><br>
    </div>
    <div class="col text-center">
      <button (click)="onUseSetLocationClicked()" class="btn btn-primary btn-lg"><i class="fas fa-search"></i> Search</button>
    </div>
  </div>
</form>
<br>
<br>
<ul class="container">
  <li *ngFor="let restaurant of restaurantModel">
    <div class="card mb-4 text-black bg-light">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img width="250px" height="250px" src="{{restaurant.picture}}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <a class="card-title text-black" routerLink="/restaurant/{{ restaurant.id }}">
              <h2>{{restaurant.name}}</h2>
            </a>
            <p class="card-text text-black">This is a wider card with supporting text below as a natural lead-in to
              additional content. This content is a little bit longer.</p>
            <p class="card-text text-black"><i>{{restaurant.location}}</i></p>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>