<div class="form-group">
    <button (click)= "onUseSetLocationClicked()">Use set location</button>
    <br>

    <form>
    <input type="text" class="form-control" id="location" [(ngModel)] = "location" required [ngModelOptions]="{standalone: true}"><br>
    <button (click)= "onUseSetLocationClicked()">Search</button>
    </form>

    <ul>
        <li *ngFor="let restaurant of restaurantModel">
            <button routerLink="/restaurant/{{ restaurant.id }}" >{{ restaurant.name }}</button>
        </li>
    </ul>
</div>