<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block text-light">
                        <i class="fas fa-exclamation-triangle"></i>
                    403
                </span>
                <div class="mb-4 lead text-light">
                    Unauthorized request. Please login first!
                </div>
                <button (click)="backToLogin()" class="btn btn-info"><i class="fas fa-home"></i>  Back to Login</button>
            </div>
        </div>
    </div>
</div>