<br><br>
<div class="container" *ngIf="jobs != null">
    <table class="table table-striped">
      <thead>
        <tr class="font-22">
          <th  scope="col">Cart ID</th>
          <th scope="col">Username</th>
          <th scope="col">Address</th>
          <th scope="col">Location</th>
          <th scope="col">Quantity</th>
          <th scope="col">Order Date</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobs" class="font-20">
          <td>{{ job.cartId }}</td>
          <td>{{ job.username }}</td>
          <td>{{ job.address }}</td>
          <td>{{ job.location }}</td>
          <td>{{ job.quantity }}</td>
          <td>
            {{ job.date[0] }}. 
            {{ job.date[1] }}. 
            {{ job.date[2] }} @ 
            {{ job.date[3] }}: 
            {{ job.date[4] }}: 
            {{ job.date[5] }}
          </td>
          <td><button class="btn btn-success btn-lg" (click) = "open(content)"><i class="fas fa-info-circle"></i> Take Order</button></td>
          <table class="container table-borderless">
            <td><ng-template #content let-modal>           
              <div class="modal-header">
                <h2 class="modal-title center" id="modal-basic-title ">#{{job.cartId}} Cart's order details  </h2>
                <button class="btn btn-secondary btn-lg" aria-label="Close" (click)="modal.dismiss('Cross click')"><i class="fas fa-window-close"></i> Close</button>
              </div>
              <div class="modal-body">
                <h2 class=" center mb-3" id="modal-basic-title center">Costumer's info</h2>
                <p class="ml-3">Name : {{job.username}}</p>
                <p class="ml-3" >Address : {{job.username}}</p>
                <p class="ml-3">Location : {{job.username}}</p>
                <h2 class=" center mb-5" id="modal-basic-title center">Ordered products</h2>
                <table class="container">
                  <thead >
                    <tr>
                      <th scope="col" > <h4 class= "text-black"><b>Restaurant's name</b> </h4> </th>
                      <th scope="col" > <h4 class= "text-black"><b>Restaurant's location </b></h4> </th>
                      <th scope="col" > <h4 class= "text-black"><b>Product</b></h4> </th>
                      <th scope="col" > <h4 class= "text-black"><b>Quantity</b></h4> </th>
                    </tr>
                  </thead> 
                  <tbody>
                  <tr *ngFor="let cartItem of job.cartItems">
                    <td class="text-black"><p class= "text-black">{{ cartItem.product.restaurants[0].name }}</p></td>
                    <td class="text-black"><p class= "text-black">{{ cartItem.product.restaurants[0].location }}</p></td>
                    <td class="text-black"><p class= "text-black">{{ cartItem.product.name }}</p></td>
                    <td class="text-black"><p class= "text-black">{{ cartItem.quantity }}</p></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button class="btn btn-success btn-lg btn-block" (click) = "onPickUpCartClicked(job.cartId); modal.dismiss('Cross click')"><i class="fas fa-check-square"></i> Take it!</button>
              </div>
            </ng-template>
            <hr>
          </td>
          </table>
      </tr>
    </tbody>
  </table>
</div>