<br>
<br>
<div class="container" [ngSwitch]="messageService.type">
    <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
        <i class="fas fa-check-circle fa-lg alert-icon"> </i>
        <p class="align-middle">
            {{messageService.message}}
        </p>
    </div>
    <div *ngSwitchCase="'danger'" class="alert alert-danger" role="alert">
        <i class="fas fa-times-circle fa-lg alert-icon"></i>
        <p class="align-middle">
            {{messageService.message}}
        </p>
    </div>
    <div *ngSwitchCase="'info'" class="alert alert-info" role="alert">
        <i class="fas fa-info-circle fa-lg alert-icon"></i>
        <p class="align-middle">
            {{messageService.message}}
        </p>
    </div>
</div>