<div class="container">
    <h1>My Profile</h1>
    <form>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Username</span>
            </div>
            <input type="text" class="form-control" id="username" [(ngModel)]="username" required readonly
                [ngModelOptions]="{standalone: true}">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Password</span>
            </div>
            <input type="password" class="form-control" id="password" [(ngModel)]="password" required
                [ngModelOptions]="{standalone: true}">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" id="email" [(ngModel)]="email" required 
                [ngModelOptions]="{standalone: true}">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Location</span>
            </div>
            <input type="text" class="form-control" id="location" [(ngModel)]="location" required
                [ngModelOptions]="{standalone: true}">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Address</span>
            </div>
            <input type="text" class="form-control" id="address" [(ngModel)]="address" required
                [ngModelOptions]="{standalone: true}">
        </div>

        <button type="submit" class="btn btn-secondary mr-3" (click)="ngOnInit()">Cancel</button>
        <button type="button" class="btn btn-success mr-3" (click)="onUpdateClicked()">Update</button>

    </form>

    <br>
    <div class="alert alert-info" role="alert" *ngIf="showMessage == true">
        {{message}}
    </div>
</div>