<div class="container">
    <h1>My Profile</h1>
    <form>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Username</span>
            </div>
            <input type="text" class="form-control" id="username" [(ngModel)]="username" readonly
                [ngModelOptions]="{standalone: true}"/>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Password</span>
            </div>
            <input type="password" class="form-control" id="password" [(ngModel)]="password" required
                [ngModelOptions]="{standalone: true}"/>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" id="email" [(ngModel)]="email" required 
                [ngModelOptions]="{standalone: true}"/>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Location</span>
            </div>
            <input type="text" class="form-control" id="location" [(ngModel)]="location" required
                [ngModelOptions]="{standalone: true}"/>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Address</span>
            </div>
            <input type="text" class="form-control" id="address" [(ngModel)]="address" 
                [ngModelOptions]="{standalone: true}" required/>
        </div>

        <button type="button" class="btn btn-secondary mr-3" (click)="onCancelClicked()"><i class="fas fa-history"></i> Cancel</button>
        <button type="submit" class="btn btn-success mr-3" (click)="onUpdateClicked()"><i class="fas fa-user-edit"></i> Update</button>

    </form>

</div>