<div class="container" *ngIf="cart != null">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of cart; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{ product.products.name }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.products.price * product.quantity }}</td>
        <button (click)="onDeleteItemClicked(product.products.id)">x</button>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-success mr-3 btn-lg" (click)="onCheckoutCartClicked(token)">Order</button>
</div>