/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(22, 27, 71);
  }

h1, h3 , li, tr, td, label{
    color: white;
}

.center{
  display: flex;
  justify-content: center;
}

ul{
  list-style-type: none;
}

.text-black {
  color:black;
}

h1 {
  font-size: 50px;
}

a {
  font-size: 24px;
}

p {
  font-size: 20px;
}

.badge-md {
  font-size: 16px;
}

.alert-icon + p {
  display: inline;
} 

input[type="text"]
{
    font-size:22px;
}

input[type="number"]
{
    font-size:22px;
}

input[type="password"]
{
    font-size:22px;
}

.sticky-offset {
  top: 85px;
}

.font-22 {
  font-size: 22px;
}
.font-20 {
  font-size: 20px;
}

.font-25 {
  font-size: 25px;
}

.hr-white {
  border-top: 2px solid white;
}