/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(22, 27, 71);
  }
label {
    color : white;
}
h1, h3 , li, tr, td{
    color: white;
}
.center{
  display: flex;
  justify-content: center;
}

ul{
  list-style-type: none;
}