<div class="container">
    <div class="card mb-4 text-black bg-light mt-3">
        <div class="row no-gutters">
          <div class="col-md-3">
            <img width="auto" height="auto" src="{{restaurant.picture}}" onerror="this.src='assets/restaurant-logos/default.png';" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <a class="card-title text-black" routerLink="/restaurant/{{ restaurant.id }}">
                <h2>{{restaurant.name}}</h2>
              </a>
              <p class="card-text text-black">{{restaurant.description}}</p>
              <p class="card-text text-black"><i class="fa fa-map-marker fa-sm"></i> {{restaurant.location}}</p>
            </div>
          </div>
        </div>
    </div>
</div>
<h1 class="center">Products of {{restaurant.name}}</h1>

<div class="alert alert-info container sticky-top sticky-offset" role="alert" *ngIf="showMessage == true">
  <i class="fas fa-check-circle fa-lg alert-icon"></i> 
  <p class="align-middle">
      {{message}}
  </p>
</div>
<div class="container mt-5">
  <ul>
    <li *ngFor="let product of menuItems" class="list-inline-item">
      <div class="card-group mr-5" style="max-width: 18.5rem;">
        <div class="bg-secondary" >
          <img class="card-img-top" src="{{ product.picture}}" class="rounded mx-auto d-block" width="300px"
            height="300px">
          <div class="card-body">
            <h3 class="card-title">{{ product.name }}</h3>
            <h5 class="card-text">{{ product.description }}</h5>
            <h5 class="card-text">{{ product.price }} Ft</h5>

            <span *ngIf="product.category == 'entree'"
              class="badge badge-pill badge-warning badge-md">Entree
            </span>
            <span *ngIf="product.category == 'appetizer'"
              class="badge badge-pill badge-warning badge-md">Appetizer
            </span>
            <span *ngIf="product.category == 'dessert'"
              class="badge badge-pill badge-warning  badge-md">Dessert
            </span>

          </div>
          <div class="card-footer text-white">
            <div class="center mt-3">
                <input class="btn btn-light mr-1" type="number" value="1" min="1" max="10" #quantityInputEl/>
            </div>
            <button type="button" class="btn btn-success mt-4 btn-block btn-lg" 
            (click)="onAddToCartClicked(product.id, product.name, quantityInputEl)"><i class="fas fa-cart-plus"></i> Add to cart</button>
          </div>
        </div>

      </div>
      <br>
      <br>
    </li>
  </ul>
</div>